<a href="https://colab.research.google.com/github/PriyajeetGoswami/ETG-Inventory-Management-System/blob/main/Inventory_Management_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Creating a pandas dataframe from the excel file I created which contains the basic inventory data and then converting to json string format

In [ ]:
import pandas as pd

sheet = pd.read_excel('/content/Book_Store_Inventory_Data.xlsx', sheet_name = 'dir')

sheet

                                         Title  ... Final_Price
0                            The Secret Garden  ...      122.50
1       The Complete Novels of Sherlock Holmes  ...      199.20
2            The Adventures of Sherlock Holmes  ...      199.20
3                         The Girl in Room 105  ...      139.30
4                 The Girl in Room 105 (Hindi)  ...      104.30
5                          One Arranged Murder  ...      157.50
6        Murder on the Orient Express (Poirot)  ...      209.30
7       The Mystery of the Blue Train (Poirot)  ...      209.30
8     The Complete Adventures of Feluda Vol. 1  ...      419.30
9     The Complete Adventures of Feluda Vol. 2  ...      419.30
10    Harry Potter and the Philosopher's Stone  ...      399.20
11    Harry Potter and the Chamber of Secrets   ...      399.20
12         Harry Potter and the Goblet of Fire  ...      399.20
13   Harry Potter and the Order of the Phoenix  ...      399.20
14      Harry Potter and the Half-Blood Prince  ...      399.20
15       Harry Potter and the Deathly Hallows   ...      399.20
16       Harry Potter and the Deathly Hallows   ...      399.20
17                                        Gora  ...      159.20
18                                 Ghore Baire  ...      139.30
19                                   Chorabali  ...      139.30
20                                  Anandamath  ...      105.00
21                                     Nirmala  ...      105.00
22                                       Gaban  ...      105.00
23                                       Kafan  ...      105.00
24                                   Karmbhumi  ...      105.00
25  Five Point Someone ; What Not To Do At Iit  ...      175.00
26                   The 3 Mistakes Of My Life  ...      175.00
27                           Wuthering Heights  ...       99.50
28                           Pride & Prejudice  ...       99.50
29                           The Blue Umbrella  ...       74.25
30                        The Room On The Roof  ...      126.65
31                              Shanku Samagra  ...      479.20
32          Journey to the Centre of the Earth  ...      120.00
33                          From Earth to Moon  ...      159.20
34             Around the World in Eighty Days  ...      200.00
35                            The Time Machine  ...      131.25
36                          The Inviscible Man  ...      131.25
37                           War of the Worlds  ...      131.25
38       Three Rays: Stories from Satyajit Ray  ...      599.25

[39 rows x 8 columns]

In [ ]:
import json
from pprint import pprint

json_str = sheet.to_json()

print(pprint(json_str))

('{"Title":{"0":"The Secret Garden","1":"The Complete Novels of Sherlock '
 'Holmes","2":"The Adventures of Sherlock Holmes","3":"The Girl in Room '
 '105","4":"The Girl in Room 105 (Hindi)","5":"One Arranged '
 'Murder","6":"Murder on the Orient Express (Poirot)","7":"The Mystery of the '
 'Blue Train (Poirot)","8":"The Complete Adventures of Feluda Vol. 1","9":"The '
 'Complete Adventures of Feluda Vol. 2","10":"Harry Potter and the '
 'Philosopher\'s Stone","11":"Harry Potter and the Chamber of Secrets '
 '","12":"Harry Potter and the Goblet of Fire","13":"Harry Potter and the '
 'Order of the Phoenix","14":"Harry Potter and the Half-Blood '
 'Prince","15":"Harry Potter and the Deathly Hallows ","16":"Harry Potter and '
 'the Deathly Hallows ","17":"Gora","18":"Ghore '
 'Baire","19":"Chorabali","20":"Anandamath","21":"Nirmala","22":"Gaban","23":"Kafan","24":"Karmbhumi","25":"Five '
 'Point Someone ; What Not To Do At Iit","26":"The 3 Mistakes Of My '
 'Life","27":"Wuthering Heights","28":"Pride & Prejudice","29":"The Blue '
 'Umbrella","30":"The Room On The Roof","31":"Shanku Samagra","32":"Journey to '
 'the Centre of the Earth","33":"From Earth to Moon","34":"Around the World in '
 'Eighty Days","35":"The Time Machine","36":"The Inviscible Man","37":"War of '
 'the Worlds","38":"Three Rays: Stories from Satyajit '
 'Ray"},"Author":{"0":"Frances Hodgson Burnett","1":"Arthur Conan Doyle '
 '","2":"Arthur Conan Doyle ","3":"Chetan Bhagat","4":"Chetan '
 'Bhagat","5":"Chetan Bhagat","6":"Agatha Christie","7":"Agatha '
 'Christie","8":"Satyajit Ray","9":"Satyajit Ray","10":"J.K. '
 'Rowling","11":"J.K. Rowling","12":"J.K. Rowling","13":"J.K. '
 'Rowling","14":"J.K. Rowling","15":"J.K. Rowling","16":"J.K. '
 'Rowling","17":"Rabindranath Tagore","18":"Rabindranath '
 'Tagore","19":"Rabindranath Tagore","20":"Bankimchandra '
 'Chatterjee","21":"Premchand","22":"Premchand","23":"Premchand","24":"Premchand","25":"Chetan '
 'Bhagat","26":"Chetan Bhagat","27":"Emily Bronte","28":"Jane '
 'Austen","29":"Ruskin Bond","30":"Ruskin Bond","31":"Satyajit '
 'Ray","32":"Jules Verne","33":"Jules Verne","34":"Jules Verne","35":"HG '
 'Wells","36":"HG Wells","37":"HG Wells","38":"Satyajit '
 'Ray"},"Category":{"0":"Crime, Thriller & Mystery","1":"Crime, Thriller & '
 'Mystery","2":"Crime, Thriller & Mystery","3":"Crime, Thriller & '
 'Mystery","4":"Crime, Thriller & Mystery","5":"Crime, Thriller & '
 'Mystery","6":"Crime, Thriller & Mystery","7":"Crime, Thriller & '
 'Mystery","8":"Crime, Thriller & Mystery","9":"Crime, Thriller & '
 'Mystery","10":"Fantasy","11":"Fantasy","12":"Fantasy","13":"Fantasy","14":"Fantasy","15":"Fantasy","16":"Fantasy","17":"Literature '
 '& Fiction","18":"Literature & Fiction","19":"Literature & '
 'Fiction","20":"Literature & Fiction","21":"Literature & '
 'Fiction","22":"Literature & Fiction","23":"Literature & '
 'Fiction","24":"Literature & Fiction","25":"Literature & '
 'Fiction","26":"Literature & Fiction","27":"Literature & '
 'Fiction","28":"Literature & Fiction","29":"Literature & '
 'Fiction","30":"Literature & '
 'Fiction","31":"Sci-fi","32":"Sci-fi","33":"Sci-fi","34":"Sci-fi","35":"Sci-fi","36":"Sci-fi","37":"Sci-fi","38":"Sci-fi"},"Language":{"0":"English","1":"English","2":"English","3":"English","4":"Hindi","5":"English","6":"English","7":"English","8":"Bengali","9":"Bengali","10":"English","11":"English","12":"English","13":"English","14":"English","15":"English","16":"English","17":"Bengali","18":"Bengali","19":"Bengali","20":"Bengali","21":"Hindi","22":"Hindi","23":"Hindi","24":"Hindi","25":"English","26":"English","27":"English","28":"English","29":"English","30":"English","31":"Bengali","32":"English","33":"English","34":"English","35":"English","36":"English","37":"English","38":"Bengali"},"MRP":{"0":175,"1":249,"2":249,"3":199,"4":149,"5":225,"6":299,"7":299,"8":599,"9":599,"10":499,"11":499,"12":499,"13":499,"14":499,"15":499,"16":499,"17":199,"18":199,"19":199,"20":150,"21":150,"22":150,"23":150,"24":150,"25":250,"26":250,"27":199,"28":199,"29":99,"30":149,"31":599,"32":150,"33":199,"34":250,"35":175,"36":175,"37":175,"38":799},"Discount":{"0":30,"1":20,"2":20,"3":30,"4":30,"5":30,"6":30,"7":30,"8":30,"9":30,"10":20,"11":20,"12":20,"13":20,"14":20,"15":20,"16":20,"17":20,"18":30,"19":30,"20":30,"21":30,"22":30,"23":30,"24":30,"25":30,"26":30,"27":50,"28":50,"29":25,"30":15,"31":20,"32":20,"33":20,"34":20,"35":25,"36":25,"37":25,"38":25},"Quantity":{"0":50,"1":50,"2":50,"3":50,"4":25,"5":40,"6":25,"7":25,"8":25,"9":25,"10":40,"11":40,"12":40,"13":40,"14":40,"15":40,"16":40,"17":40,"18":40,"19":40,"20":40,"21":50,"22":50,"23":50,"24":50,"25":50,"26":50,"27":50,"28":50,"29":50,"30":50,"31":25,"32":25,"33":25,"34":25,"35":40,"36":40,"37":40,"38":40},"Final_Price":{"0":122.5,"1":199.2,"2":199.2,"3":139.3,"4":104.3,"5":157.5,"6":209.3,"7":209.3,"8":419.3,"9":419.3,"10":399.2,"11":399.2,"12":399.2,"13":399.2,"14":399.2,"15":399.2,"16":399.2,"17":159.2,"18":139.3,"19":139.3,"20":105.0,"21":105.0,"22":105.0,"23":105.0,"24":105.0,"25":175.0,"26":175.0,"27":99.5,"28":99.5,"29":74.25,"30":126.65,"31":479.2,"32":120.0,"33":159.2,"34":200.0,"35":131.25,"36":131.25,"37":131.25,"38":599.25}}')
None

Creating JSON File name "records" to keep track of our inventory

In [ ]:
fd = open('records.json','w')
fd.write(json_str)
fd.close()

In [ ]:
fd = open('records.json','r')
txt = fd.read()
fd.close()

In [ ]:
inv = json.loads(txt)
pprint(inv)

{'Author': {'0': 'Frances Hodgson Burnett',
            '1': 'Arthur Conan Doyle ',
            '10': 'J.K. Rowling',
            '11': 'J.K. Rowling',
            '12': 'J.K. Rowling',
            '13': 'J.K. Rowling',
            '14': 'J.K. Rowling',
            '15': 'J.K. Rowling',
            '16': 'J.K. Rowling',
            '17': 'Rabindranath Tagore',
            '18': 'Rabindranath Tagore',
            '19': 'Rabindranath Tagore',
            '2': 'Arthur Conan Doyle ',
            '20': 'Bankimchandra Chatterjee',
            '21': 'Premchand',
            '22': 'Premchand',
            '23': 'Premchand',
            '24': 'Premchand',
            '25': 'Chetan Bhagat',
            '26': 'Chetan Bhagat',
            '27': 'Emily Bronte',
            '28': 'Jane Austen',
            '29': 'Ruskin Bond',
            '3': 'Chetan Bhagat',
            '30': 'Ruskin Bond',
            '31': 'Satyajit Ray',
            '32': 'Jules Verne',
            '33': 'Jules Verne',
            '34': 'Jules Verne',
            '35': 'HG Wells',
            '36': 'HG Wells',
            '37': 'HG Wells',
            '38': 'Satyajit Ray',
            '4': 'Chetan Bhagat',
            '5': 'Chetan Bhagat',
            '6': 'Agatha Christie',
            '7': 'Agatha Christie',
            '8': 'Satyajit Ray',
            '9': 'Satyajit Ray'},
 'Category': {'0': 'Crime, Thriller & Mystery',
              '1': 'Crime, Thriller & Mystery',
              '10': 'Fantasy',
              '11': 'Fantasy',
              '12': 'Fantasy',
              '13': 'Fantasy',
              '14': 'Fantasy',
              '15': 'Fantasy',
              '16': 'Fantasy',
              '17': 'Literature & Fiction',
              '18': 'Literature & Fiction',
              '19': 'Literature & Fiction',
              '2': 'Crime, Thriller & Mystery',
              '20': 'Literature & Fiction',
              '21': 'Literature & Fiction',
              '22': 'Literature & Fiction',
              '23': 'Literature & Fiction',
              '24': 'Literature & Fiction',
              '25': 'Literature & Fiction',
              '26': 'Literature & Fiction',
              '27': 'Literature & Fiction',
              '28': 'Literature & Fiction',
              '29': 'Literature & Fiction',
              '3': 'Crime, Thriller & Mystery',
              '30': 'Literature & Fiction',
              '31': 'Sci-fi',
              '32': 'Sci-fi',
              '33': 'Sci-fi',
              '34': 'Sci-fi',
              '35': 'Sci-fi',
              '36': 'Sci-fi',
              '37': 'Sci-fi',
              '38': 'Sci-fi',
              '4': 'Crime, Thriller & Mystery',
              '5': 'Crime, Thriller & Mystery',
              '6': 'Crime, Thriller & Mystery',
              '7': 'Crime, Thriller & Mystery',
              '8': 'Crime, Thriller & Mystery',
              '9': 'Crime, Thriller & Mystery'},
 'Discount': {'0': 30,
              '1': 20,
              '10': 20,
              '11': 20,
              '12': 20,
              '13': 20,
              '14': 20,
              '15': 20,
              '16': 20,
              '17': 20,
              '18': 30,
              '19': 30,
              '2': 20,
              '20': 30,
              '21': 30,
              '22': 30,
              '23': 30,
              '24': 30,
              '25': 30,
              '26': 30,
              '27': 50,
              '28': 50,
              '29': 25,
              '3': 30,
              '30': 15,
              '31': 20,
              '32': 20,
              '33': 20,
              '34': 20,
              '35': 25,
              '36': 25,
              '37': 25,
              '38': 25,
              '4': 30,
              '5': 30,
              '6': 30,
              '7': 30,
              '8': 30,
              '9': 30},
 'Final_Price': {'0': 122.5,
                 '1': 199.2,
                 '10': 399.2,
                 '11': 399.2,
                 '12': 399.2,
                 '13': 399.2,
                 '14': 399.2,
                 '15': 399.2,
                 '16': 399.2,
                 '17': 159.2,
                 '18': 139.3,
                 '19': 139.3,
                 '2': 199.2,
                 '20': 105.0,
                 '21': 105.0,
                 '22': 105.0,
                 '23': 105.0,
                 '24': 105.0,
                 '25': 175.0,
                 '26': 175.0,
                 '27': 99.5,
                 '28': 99.5,
                 '29': 74.25,
                 '3': 139.3,
                 '30': 126.65,
                 '31': 479.2,
                 '32': 120.0,
                 '33': 159.2,
                 '34': 200.0,
                 '35': 131.25,
                 '36': 131.25,
                 '37': 131.25,
                 '38': 599.25,
                 '4': 104.3,
                 '5': 157.5,
                 '6': 209.3,
                 '7': 209.3,
                 '8': 419.3,
                 '9': 419.3},
 'Language': {'0': 'English',
              '1': 'English',
              '10': 'English',
              '11': 'English',
              '12': 'English',
              '13': 'English',
              '14': 'English',
              '15': 'English',
              '16': 'English',
              '17': 'Bengali',
              '18': 'Bengali',
              '19': 'Bengali',
              '2': 'English',
              '20': 'Bengali',
              '21': 'Hindi',
              '22': 'Hindi',
              '23': 'Hindi',
              '24': 'Hindi',
              '25': 'English',
              '26': 'English',
              '27': 'English',
              '28': 'English',
              '29': 'English',
              '3': 'English',
              '30': 'English',
              '31': 'Bengali',
              '32': 'English',
              '33': 'English',
              '34': 'English',
              '35': 'English',
              '36': 'English',
              '37': 'English',
              '38': 'Bengali',
              '4': 'Hindi',
              '5': 'English',
              '6': 'English',
              '7': 'English',
              '8': 'Bengali',
              '9': 'Bengali'},
 'MRP': {'0': 175,
         '1': 249,
         '10': 499,
         '11': 499,
         '12': 499,
         '13': 499,
         '14': 499,
         '15': 499,
         '16': 499,
         '17': 199,
         '18': 199,
         '19': 199,
         '2': 249,
         '20': 150,
         '21': 150,
         '22': 150,
         '23': 150,
         '24': 150,
         '25': 250,
         '26': 250,
         '27': 199,
         '28': 199,
         '29': 99,
         '3': 199,
         '30': 149,
         '31': 599,
         '32': 150,
         '33': 199,
         '34': 250,
         '35': 175,
         '36': 175,
         '37': 175,
         '38': 799,
         '4': 149,
         '5': 225,
         '6': 299,
         '7': 299,
         '8': 599,
         '9': 599},
 'Quantity': {'0': 50,
              '1': 50,
              '10': 40,
              '11': 40,
              '12': 40,
              '13': 40,
              '14': 40,
              '15': 40,
              '16': 40,
              '17': 40,
              '18': 40,
              '19': 40,
              '2': 50,
              '20': 40,
              '21': 50,
              '22': 50,
              '23': 50,
              '24': 50,
              '25': 50,
              '26': 50,
              '27': 50,
              '28': 50,
              '29': 50,
              '3': 50,
              '30': 50,
              '31': 25,
              '32': 25,
              '33': 25,
              '34': 25,
              '35': 40,
              '36': 40,
              '37': 40,
              '38': 40,
              '4': 25,
              '5': 40,
              '6': 25,
              '7': 25,
              '8': 25,
              '9': 25},
 'Title': {'0': 'The Secret Garden',
           '1': 'The Complete Novels of Sherlock Holmes',
           '10': "Harry Potter and the Philosopher's Stone",
           '11': 'Harry Potter and the Chamber of Secrets ',
           '12': 'Harry Potter and the Goblet of Fire',
           '13': 'Harry Potter and the Order of the Phoenix',
           '14': 'Harry Potter and the Half-Blood Prince',
           '15': 'Harry Potter and the Deathly Hallows ',
           '16': 'Harry Potter and the Deathly Hallows ',
           '17': 'Gora',
           '18': 'Ghore Baire',
           '19': 'Chorabali',
           '2': 'The Adventures of Sherlock Holmes',
           '20': 'Anandamath',
           '21': 'Nirmala',
           '22': 'Gaban',
           '23': 'Kafan',
           '24': 'Karmbhumi',
           '25': 'Five Point Someone ; What Not To Do At Iit',
           '26': 'The 3 Mistakes Of My Life',
           '27': 'Wuthering Heights',
           '28': 'Pride & Prejudice',
           '29': 'The Blue Umbrella',
           '3': 'The Girl in Room 105',
           '30': 'The Room On The Roof',
           '31': 'Shanku Samagra',
           '32': 'Journey to the Centre of the Earth',
           '33': 'From Earth to Moon',
           '34': 'Around the World in Eighty Days',
           '35': 'The Time Machine',
           '36': 'The Inviscible Man',
           '37': 'War of the Worlds',
           '38': 'Three Rays: Stories from Satyajit Ray',
           '4': 'The Girl in Room 105 (Hindi)',
           '5': 'One Arranged Murder',
           '6': 'Murder on the Orient Express (Poirot)',
           '7': 'The Mystery of the Blue Train (Poirot)',
           '8': 'The Complete Adventures of Feluda Vol. 1',
           '9': 'The Complete Adventures of Feluda Vol. 2'}}

In [ ]:
print("Welcome to Priyajeet's Book Store")
print("----------------------------------------")
print("Books available in the store are: ")
print("----------------------------------------")
print(sheet.loc[sheet['Quantity']>0]) # Only displays those titles which have atleast one book in stock

Welcome to Priyajeet's Book Store
----------------------------------------
Books available in the store are:
----------------------------------------
                                         Title  ... Final_Price
0                            The Secret Garden  ...      122.50
1       The Complete Novels of Sherlock Holmes  ...      199.20
2            The Adventures of Sherlock Holmes  ...      199.20
3                         The Girl in Room 105  ...      139.30
4                 The Girl in Room 105 (Hindi)  ...      104.30
5                          One Arranged Murder  ...      157.50
6        Murder on the Orient Express (Poirot)  ...      209.30
7       The Mystery of the Blue Train (Poirot)  ...      209.30
8     The Complete Adventures of Feluda Vol. 1  ...      419.30
9     The Complete Adventures of Feluda Vol. 2  ...      419.30
10    Harry Potter and the Philosopher's Stone  ...      399.20
11    Harry Potter and the Chamber of Secrets   ...      399.20
12         Harry Potter and the Goblet of Fire  ...      399.20
13   Harry Potter and the Order of the Phoenix  ...      399.20
14      Harry Potter and the Half-Blood Prince  ...      399.20
15       Harry Potter and the Deathly Hallows   ...      399.20
16       Harry Potter and the Deathly Hallows   ...      399.20
17                                        Gora  ...      159.20
18                                 Ghore Baire  ...      139.30
19                                   Chorabali  ...      139.30
20                                  Anandamath  ...      105.00
21                                     Nirmala  ...      105.00
22                                       Gaban  ...      105.00
23                                       Kafan  ...      105.00
24                                   Karmbhumi  ...      105.00
25  Five Point Someone ; What Not To Do At Iit  ...      175.00
26                   The 3 Mistakes Of My Life  ...      175.00
27                           Wuthering Heights  ...       99.50
28                           Pride & Prejudice  ...       99.50
29                           The Blue Umbrella  ...       74.25
30                        The Room On The Roof  ...      126.65
31                              Shanku Samagra  ...      479.20
32          Journey to the Centre of the Earth  ...      120.00
33                          From Earth to Moon  ...      159.20
34             Around the World in Eighty Days  ...      200.00
35                            The Time Machine  ...      131.25
36                          The Inviscible Man  ...      131.25
37                           War of the Worlds  ...      131.25
38       Three Rays: Stories from Satyajit Ray  ...      599.25

[39 rows x 8 columns]

Searching book by author name

In [ ]:
print('We have books by the following authors')

for a in (sheet['Author'].unique()):
    print(a)

We have books by the following authors
Frances Hodgson Burnett
Arthur Conan Doyle
Chetan Bhagat
Agatha Christie
Satyajit Ray
J.K. Rowling
Rabindranath Tagore
Bankimchandra Chatterjee
Premchand
Emily Bronte
Jane Austen
Ruskin Bond
Jules Verne
HG Wells

In [ ]:
n = input('Enter the name of the author to see the books we got: ')

print(sheet.loc[sheet['Author']==n])

Enter the name of the author to see the books we got: Satyajit Ray
                                       Title  ... Final_Price
8   The Complete Adventures of Feluda Vol. 1  ...      419.30
9   The Complete Adventures of Feluda Vol. 2  ...      419.30
31                            Shanku Samagra  ...      479.20
38     Three Rays: Stories from Satyajit Ray  ...      599.25

[4 rows x 8 columns]

Searching book by category

In [ ]:
print('We have books of the following category')

for c in sheet['Category'].unique():
    print(c)

We have books of the following category
Crime, Thriller & Mystery
Fantasy
Literature & Fiction
Sci-fi

In [ ]:
n = input('Enter the category to see the books we got: ')

print(sheet.loc[sheet['Category']==n])

Enter the category to see the books we got: Sci-fi
                                    Title        Author  ... Quantity Final_Price
31                         Shanku Samagra  Satyajit Ray  ...       25      479.20
32     Journey to the Centre of the Earth   Jules Verne  ...       25      120.00
33                     From Earth to Moon   Jules Verne  ...       25      159.20
34        Around the World in Eighty Days   Jules Verne  ...       25      200.00
35                       The Time Machine      HG Wells  ...       40      131.25
36                     The Inviscible Man      HG Wells  ...       40      131.25
37                      War of the Worlds      HG Wells  ...       40      131.25
38  Three Rays: Stories from Satyajit Ray  Satyajit Ray  ...       40      599.25

[8 rows x 8 columns]

Searching by language of book

In [ ]:
print('We have books of the following languages')

for l in sheet['Language'].unique():
    print(l)

We have books of the following languages
English
Hindi
Bengali

In [ ]:
n = input('Enter the language to see the books we got: ')

print(sheet.loc[sheet['Language']==n])

Enter the language to see the books we got: Bengali
                                       Title  ... Final_Price
8   The Complete Adventures of Feluda Vol. 1  ...      419.30
9   The Complete Adventures of Feluda Vol. 2  ...      419.30
17                                      Gora  ...      159.20
18                               Ghore Baire  ...      139.30
19                                 Chorabali  ...      139.30
20                                Anandamath  ...      105.00
31                            Shanku Samagra  ...      479.20
38     Three Rays: Stories from Satyajit Ray  ...      599.25

[8 rows x 8 columns]

Searching book by price range

In [ ]:
n = int(input('Enter your budget to see the books we got within your budget: '))

print(sheet.loc[sheet['Final_Price']<=n])

Enter your budget to see the books we got within your budget: 150
                                 Title  ... Final_Price
0                    The Secret Garden  ...      122.50
3                 The Girl in Room 105  ...      139.30
4         The Girl in Room 105 (Hindi)  ...      104.30
18                         Ghore Baire  ...      139.30
19                           Chorabali  ...      139.30
20                          Anandamath  ...      105.00
21                             Nirmala  ...      105.00
22                               Gaban  ...      105.00
23                               Kafan  ...      105.00
24                           Karmbhumi  ...      105.00
27                   Wuthering Heights  ...       99.50
28                   Pride & Prejudice  ...       99.50
29                   The Blue Umbrella  ...       74.25
30                The Room On The Roof  ...      126.65
32  Journey to the Centre of the Earth  ...      120.00
35                    The Time Machine  ...      131.25
36                  The Inviscible Man  ...      131.25
37                   War of the Worlds  ...      131.25

[18 rows x 8 columns]

Creating Shopping Cart

In [ ]:
import random

shopping_cart = {}
keep_shopping = True

print()
while keep_shopping:
    book_no = input("Enter the id number of the book you want to buy: ")
    if book_no in inv['Title']:
        print(f"The product u have chosen is : {inv['Title'][book_no]} by",inv['Author'][book_no])
        quantity = input("Enter the quantity of books you want to buy: ")
        if (int(quantity) <= int(inv["Quantity"][book_no])):
            print()
            new_quantity = int(inv["Quantity"][book_no]) - int(quantity)
            inv["Quantity"][book_no] = new_quantity
            total_price = int(inv["Final_Price"][book_no])*int(quantity)
        
            print("Item added to cart")
            print(f"Total Price is {total_price} ({inv['Discount'][book_no]} % Off)")
            print()
            user_continue = input("Do you want to continue Shopping? If Yes type 'Y' else type 'N': ")
            random_id = str(random.randint(100,999))
            shopping_cart[random_id]={}
            shopping_cart[random_id]["Product ID"]=book_no
            shopping_cart[random_id]["Title"]=inv["Title"][book_no]
            shopping_cart[random_id]["Price"]=inv["Final_Price"][book_no]
            shopping_cart[random_id]["Quantity"]=quantity
            shopping_cart[random_id]["Total Price"]=str(total_price)
            if user_continue == "N".lower():
                keep_shopping = False
            
        elif (int(quantity) >= int(inv["Quantity"][book_no])):
            print("Sorry we do not have the item in the given quantity at present")
                                 
print()           
print("Thank You for shopping with us")

Enter the id number of the book you want to buy: 2
The product u have chosen is : The Adventures of Sherlock Holmes by Arthur Conan Doyle
Enter the quantity of books you want to buy: 2

Item added to cart
Total Price is 398 (20 % Off)

Do you want to continue Shopping? If Yes type 'Y' else type 'N': y
Enter the id number of the book you want to buy: 8
The product u have chosen is : The Complete Adventures of Feluda Vol. 1 by Satyajit Ray
Enter the quantity of books you want to buy: 3

Item added to cart
Total Price is 1257 (30 % Off)

Do you want to continue Shopping? If Yes type 'Y' else type 'N': y
Enter the id number of the book you want to buy: 16
The product u have chosen is : Harry Potter and the Deathly Hallows  by J.K. Rowling
Enter the quantity of books you want to buy: 4

Item added to cart
Total Price is 1596 (20 % Off)

Do you want to continue Shopping? If Yes type 'Y' else type 'N': y
Enter the id number of the book you want to buy: 32
The product u have chosen is : Journey to the Centre of the Earth by Jules Verne
Enter the quantity of books you want to buy: 5

Item added to cart
Total Price is 600 (20 % Off)

Do you want to continue Shopping? If Yes type 'Y' else type 'N': y
Enter the id number of the book you want to buy: 18
The product u have chosen is : Ghore Baire by Rabindranath Tagore
Enter the quantity of books you want to buy: 60
Sorry we do not have the item in the given quantity at present
Enter the id number of the book you want to buy: 33
The product u have chosen is : From Earth to Moon by Jules Verne
Enter the quantity of books you want to buy: 4

Item added to cart
Total Price is 636 (20 % Off)

Do you want to continue Shopping? If Yes type 'Y' else type 'N': n

Thank You for shopping with us

In [ ]:
shopping_cart

{'259': {'Price': 419.3,
  'Product ID': '8',
  'Quantity': '3',
  'Title': 'The Complete Adventures of Feluda Vol. 1',
  'Total Price': '1257'},
 '375': {'Price': 399.2,
  'Product ID': '16',
  'Quantity': '4',
  'Title': 'Harry Potter and the Deathly Hallows ',
  'Total Price': '1596'},
 '657': {'Price': 199.2,
  'Product ID': '2',
  'Quantity': '2',
  'Title': 'The Adventures of Sherlock Holmes',
  'Total Price': '398'},
 '747': {'Price': 159.2,
  'Product ID': '33',
  'Quantity': '4',
  'Title': 'From Earth to Moon',
  'Total Price': '636'},
 '938': {'Price': 120.0,
  'Product ID': '32',
  'Quantity': '5',
  'Title': 'Journey to the Centre of the Earth',
  'Total Price': '600'}}

Removing items from the cart

In [ ]:
from prettytable import PrettyTable as pt

check_cart = True

while check_cart:
    cart_table=pt(['Product ID','Title','Author','Quantity','Final Price'])
    for i in shopping_cart.keys():
        j = shopping_cart[i]
        cart_table.add_row([j['Product ID'],j['Title'],inv['Author'][j['Product ID']],j['Quantity'],j['Total Price']])
    print('Your items in the cart:')
    print(cart_table)

    user_continue = input("Do you want to remove any item? If Yes type 'Y' else type 'N' to continue to checkout: ")
    if user_continue == "N".lower():
        check_cart = False
    else:
        n = input('Enter the product id to remove: ')
        for i in shopping_cart.keys():
            j = shopping_cart[i]
            if j['Product ID'] == n:
                shopping_cart.pop(i)
                inv["Quantity"][n] += int(j['Quantity']) 
                break

Your items in the cart:
+------------+------------------------------------------+---------------------+----------+-------------+
| Product ID |                  Title                   |        Author       | Quantity | Final Price |
+------------+------------------------------------------+---------------------+----------+-------------+
|     2      |    The Adventures of Sherlock Holmes     | Arthur Conan Doyle  |    2     |     398     |
|     8      | The Complete Adventures of Feluda Vol. 1 |     Satyajit Ray    |    3     |     1257    |
|     16     |  Harry Potter and the Deathly Hallows    |     J.K. Rowling    |    4     |     1596    |
|     32     |    Journey to the Centre of the Earth    |     Jules Verne     |    5     |     600     |
|     33     |            From Earth to Moon            |     Jules Verne     |    4     |     636     |
+------------+------------------------------------------+---------------------+----------+-------------+
Do you want to remove any item? If Yes type 'Y' else type 'N' to continue to checkout: y
Enter the product id to remove: 33
Your items in the cart:
+------------+------------------------------------------+---------------------+----------+-------------+
| Product ID |                  Title                   |        Author       | Quantity | Final Price |
+------------+------------------------------------------+---------------------+----------+-------------+
|     2      |    The Adventures of Sherlock Holmes     | Arthur Conan Doyle  |    2     |     398     |
|     8      | The Complete Adventures of Feluda Vol. 1 |     Satyajit Ray    |    3     |     1257    |
|     16     |  Harry Potter and the Deathly Hallows    |     J.K. Rowling    |    4     |     1596    |
|     32     |    Journey to the Centre of the Earth    |     Jules Verne     |    5     |     600     |
+------------+------------------------------------------+---------------------+----------+-------------+
Do you want to remove any item? If Yes type 'Y' else type 'N' to continue to checkout: n

Calculating the Bill and printing it

In [ ]:
import time

bill_table = pt(['Customer Name', 'Mobile', 'Time of Purchase', 'Total Billing Amount'])
total_bill = 0
bill={}
for i in shopping_cart.keys():
    j = shopping_cart[i]
    total_bill += int(j["Total Price"])

customer_name = input("Enter your name: ")
mobile = input("Enter your mobile number: ")
print()
current_time = time.ctime()
bill["Name"] = customer_name
bill["Mobile"] = mobile
bill["Time"] = current_time
bill["Total Amount"] = str(total_bill)

bill_table.add_row([customer_name, mobile, current_time, total_bill])
print(bill_table)

Enter your name: Tony Stark
Enter your mobile number: 2129704133

+---------------+------------+--------------------------+----------------------+
| Customer Name |   Mobile   |     Time of Purchase     | Total Billing Amount |
+---------------+------------+--------------------------+----------------------+
|   Tony Stark  | 2129704133 | Mon Sep  6 12:39:16 2021 |         3851         |
+---------------+------------+--------------------------+----------------------+

Creating Purchase.json file to keep the purchase history of a customer

In [ ]:
cart = {}

cart[mobile] = shopping_cart # using mobile no as unique purchase id

c = json.dumps(cart)

file = open('Purchase.json','w')
file.write(c)
file.close()

pprint(c)

('{"2129704133": {"657": {"Product ID": "2", "Title": "The Adventures of '
 'Sherlock Holmes", "Price": 199.2, "Quantity": "2", "Total Price": "398"}, '
 '"259": {"Product ID": "8", "Title": "The Complete Adventures of Feluda Vol. '
 '1", "Price": 419.3, "Quantity": "3", "Total Price": "1257"}, "375": '
 '{"Product ID": "16", "Title": "Harry Potter and the Deathly Hallows ", '
 '"Price": 399.2, "Quantity": "4", "Total Price": "1596"}, "938": {"Product '
 'ID": "32", "Title": "Journey to the Centre of the Earth", "Price": 120.0, '
 '"Quantity": "5", "Total Price": "600"}}}')

Creating a Sales.json file to keep track of sales

In [ ]:
sales={}
sales.update(bill)
s = json.dumps(sales)

file = open('Sales.json','w')
file.write(s)
file.close()

In [ ]:
file = open('Sales.json','r')
txt = file.read()
file.close()

sales_file = json.loads(txt)
print(pprint(sales_file))

{'Mobile': '2129704133',
 'Name': 'Tony Stark',
 'Time': 'Mon Sep  6 12:39:16 2021',
 'Total Amount': '3851'}
None

Checking the purchase history of some customer

In [ ]:
f = open('Purchase.json','r')
t = f.read()
file.close()

purchase = json.loads(t)
n = input('Enter the mobile number: ')
purchase[mobile]

Enter the mobile number: 2129704133

{'259': {'Price': 419.3,
  'Product ID': '8',
  'Quantity': '3',
  'Title': 'The Complete Adventures of Feluda Vol. 1',
  'Total Price': '1257'},
 '375': {'Price': 399.2,
  'Product ID': '16',
  'Quantity': '4',
  'Title': 'Harry Potter and the Deathly Hallows ',
  'Total Price': '1596'},
 '657': {'Price': 199.2,
  'Product ID': '2',
  'Quantity': '2',
  'Title': 'The Adventures of Sherlock Holmes',
  'Total Price': '398'},
 '938': {'Price': 120.0,
  'Product ID': '32',
  'Quantity': '5',
  'Title': 'Journey to the Centre of the Earth',
  'Total Price': '600'}}

Updating the inventory

In [ ]:
ims =json.dumps(inv)

file = open('records.json','w')
file.write(ims)
file.close()

file = open('records.json','r')
inv = json.loads(file.read())
print("Inventory")
print("-------------------------------------------------------------------------")
print("{:<3} {:<50} {:<30} {:<10}".format('ID', 'Title', 'Author', 'Quantity'))
for i in inv['Title']:
    print ("{:<3} {:<50} {:<30} {:<10}".format(i,inv['Title'][i],inv['Author'][i],inv['Quantity'][i]))

Inventory
-------------------------------------------------------------------------
ID  Title                                              Author                         Quantity
0   The Secret Garden                                  Frances Hodgson Burnett        50
1   The Complete Novels of Sherlock Holmes             Arthur Conan Doyle             50
2   The Adventures of Sherlock Holmes                  Arthur Conan Doyle             108
3   The Girl in Room 105                               Chetan Bhagat                  50
4   The Girl in Room 105 (Hindi)                       Chetan Bhagat                  25
5   One Arranged Murder                                Chetan Bhagat                  40
6   Murder on the Orient Express (Poirot)              Agatha Christie                25
7   The Mystery of the Blue Train (Poirot)             Agatha Christie                25
8   The Complete Adventures of Feluda Vol. 1           Satyajit Ray                   22
9   The Complete Adventures of Feluda Vol. 2           Satyajit Ray                   25
10  Harry Potter and the Philosopher's Stone           J.K. Rowling                   40
11  Harry Potter and the Chamber of Secrets            J.K. Rowling                   40
12  Harry Potter and the Goblet of Fire                J.K. Rowling                   40
13  Harry Potter and the Order of the Phoenix          J.K. Rowling                   40
14  Harry Potter and the Half-Blood Prince             J.K. Rowling                   40
15  Harry Potter and the Deathly Hallows               J.K. Rowling                   40
16  Harry Potter and the Deathly Hallows               J.K. Rowling                   36
17  Gora                                               Rabindranath Tagore            40
18  Ghore Baire                                        Rabindranath Tagore            40
19  Chorabali                                          Rabindranath Tagore            40
20  Anandamath                                         Bankimchandra Chatterjee       40
21  Nirmala                                            Premchand                      50
22  Gaban                                              Premchand                      50
23  Kafan                                              Premchand                      50
24  Karmbhumi                                          Premchand                      50
25  Five Point Someone ; What Not To Do At Iit         Chetan Bhagat                  50
26  The 3 Mistakes Of My Life                          Chetan Bhagat                  50
27  Wuthering Heights                                  Emily Bronte                   50
28  Pride & Prejudice                                  Jane Austen                    50
29  The Blue Umbrella                                  Ruskin Bond                    50
30  The Room On The Roof                               Ruskin Bond                    50
31  Shanku Samagra                                     Satyajit Ray                   25
32  Journey to the Centre of the Earth                 Jules Verne                    20
33  From Earth to Moon                                 Jules Verne                    25
34  Around the World in Eighty Days                    Jules Verne                    25
35  The Time Machine                                   HG Wells                       40
36  The Inviscible Man                                 HG Wells                       40
37  War of the Worlds                                  HG Wells                       40
38  Three Rays: Stories from Satyajit Ray              Satyajit Ray                   40

On the above Inventory list, you'll find change in the quantity of the books sold like "The Adventures of Sherlock Holmes"

Now, we will add items to the inventory

**Adding items to the inventory**

In [ ]:
id = input("Enter the book id: ")
print('Quantity of the book at present:',inv['Quantity'][id])
new_qn = input('Enter the quantity to be added: ')
inv['Quantity'][id] += int(new_qn)
print('New quantity:',inv['Quantity'][id])

Enter the book id: 3
Quantity of the book at present: 50
Enter the quantity to be added: 50
New quantity: 100

Adding new items

In [ ]:
id = input("Enter the id of new book: ")
book_name = input("Enter the Title of the book: ")
author = input("Enter the author name: ")
category = input("Enter the category: ")
language = input("Enter the language: ")
mrp =int(input("Enter the Price: "))
dis = int(input("Enter the discounr%: "))
qn = int(input("Enter the quantity: "))

inv['Title'][id] = book_name
inv['Author'][id] = author
inv['Category'][id] = category
inv['Language'][id] = language
inv['Quantity'][id] = qn
inv['MRP'] = mrp
inv['Discount'] = dis
inv['Final_Price'] = mrp - ((dis*mrp)/100)

In [ ]:
#Updating the inventory
ims =json.dumps(inv) 

file = open('records.json','w')
file.write(ims)
file.close()